.checkout-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 60px 70px;
  background: #fff;
}

.cart-box,
.payment-box {
  background: #faf7f2;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 8px 24px rgba(0,0,0,.08);
}

.payment-box input,
.payment-box textarea,
.admin-form input,
.admin-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.payment-box textarea,
.admin-form textarea {
  min-height: 90px;
}

.payment-box label {
  display: block;
  margin: 12px 0;
}

.bank-info {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin: 15px 0;
  border-left: 5px solid #6f1717;
}

.qty {
  display: flex;
  align-items: center;
  gap: 8px;
}

.qty button {
  padding: 5px 10px;
}

.policy {
  padding: 70px;
  background: #faf7f2;
}

.policy h2 {
  text-align: center;
  color: #6f1717;
  font-size: 36px;
  margin-bottom: 30px;
}

.policy-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.policy-grid div {
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 5px 18px rgba(0,0,0,.08);
}

.policy-grid h3 {
  color: #6f1717;
  margin-bottom: 12px;
}

.admin-section {
  padding: 50px 70px;
}

.admin-section h1 {
  color: #6f1717;
  margin-bottom: 25px;
}

.admin-form {
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 5px 18px rgba(0,0,0,.08);
  margin-bottom: 35px;
}

.admin-form button,
.admin-card button {
  background: #6f1717;
  color: white;
  border: none;
  padding: 11px 16px;
  border-radius: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.admin-card,
.order-card {
  background: white;
  padding: 18px;
  margin-bottom: 14px;
  border-radius: 14px;
  display: flex;
  gap: 20px;
  align-items: center;
  box-shadow: 0 5px 18px rgba(0,0,0,.08);
}

.admin-card img {
  width: 120px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}

.order-card {
  display: block;
}

.order-card h3 {
  color: #6f1717;
}

@media (max-width: 768px) {
  .checkout-section,
  .policy-grid {
    grid-template-columns: 1fr;
    padding: 35px 20px;
  }

  .admin-section {
    padding: 35px 20px;
  }

  .admin-card {
    flex-direction: column;
    align-items: flex-start;
  }
}
